.product .section-title { text-align: center; }

.filter-btn-list {
  margin-block: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-btn-item {
  position: relative;
  display: flex;
}

.filter-btn-item:not(:last-child)::after {
  content: "|";
  margin-inline: 15px;
}

.filter-btn { transition: var(--transition-1); }

.filter-btn.active { color: var(--tan-crayola); }

