<section class="section hero" id="home" aria-label="home">
    <div class="container">

      <ul class="hero-list">

        <li>
          <div class="hero-card">

            <figure class="card-banner img-holder" style="--width: 285; --height: 396;">
              <img src="/imgs/hero-product-1.jpg" width="285" height="396" alt="Art Deco Home"
                class="img-cover">
            </figure>

            <div class="card-content">
              <h3>
                <a href="#" class="card-title">Art Deco Home</a>
              </h3>

              <p class="card-text">Decoration</p>
            </div>

          </div>
        </li>

        <li class="colspan-2">
          <div class="hero-card">

            <figure class="card-banner img-holder" style="--width: 568; --height: 389;">
              <img src="/imgs/hero-product-2.jpg" width="568" height="389" alt="Helen Chair"
                class="img-cover">
            </figure>

            <div class="card-content">
              <h3>
                <a href="#" class="card-title">Helen Chair</a>
              </h3>

              <p class="card-text">Decoration</p>
            </div>

          </div>
        </li>

        <li>
          <div class="hero-card">

            <figure class="card-banner img-holder" style="--width: 285; --height: 396;">
              <img src="/imgs/hero-product-3.jpg" width="285" height="396" alt="Vase Of Flowers"
                class="img-cover">
            </figure>

            <div class="card-content">
              <h3>
                <a href="#" class="card-title">Vase Of Flowers</a>
              </h3>

              <p class="card-text">Decoration</p>
            </div>

          </div>
        </li>

        <li class="colspan-2">
          <div class="hero-card">

            <figure class="card-banner img-holder" style="--width: 580; --height: 213;">
              <img src="/imgs/hero-product-4.jpg" width="580" height="213" alt="Wood Eggs"
                class="img-cover">
            </figure>

            <div class="card-content">
              <h3>
                <a href="#" class="card-title">Wood Eggs</a>
              </h3>

              <p class="card-text">Decoration</p>
            </div>

          </div>
        </li>

        <li class="colspan-2">
          <div class="hero-card">

            <figure class="card-banner img-holder" style="--width: 580; --height: 213;">
              <img src="/imgs/hero-product-5.jpg" width="580" height="213" alt="Table Wood Pine"
                class="img-cover">
            </figure>

            <div class="card-content">
              <h3>
                <a href="#" class="card-title">Table Wood Pine</a>
              </h3>

              <p class="card-text">Furniture</p>
            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>