<app-hero-section></app-hero-section>

<section class="section about" id="about" aria-label="about">
    <div class="container">

      <h2 class="section-title">Woodex Store</h2>

      <p class="section-text">
        When you start with a portrait and search for a pure form, a clear volume, through successive eliminations,
        you arrive
        inevitably at the egg. Likewise, starting with the egg and following the same process in reverse, one
        finishes with the
        portrait.
      </p>

      <div class="about-card">
        <figure class="card-banner img-holder" style="--width: 1170; --height: 450;">
          <img src="/imgs/about-banner.jpg" width="1170" height="450" loading="lazy" alt="Woodex promo"
            class="img-cover">
        </figure>

        <button class="play-btn" aria-label="play video">
          <ion-icon name="play-circle-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

    </div>
  </section>
  
<app-product-section></app-product-section>
<app-blog-section></app-blog-section>

<section class="section newsletter" aria-label="newsletter">
  <div class="container">

    <div class="newsletter-card">

      <div class="card-content">
        <h2 class="h2 section-title">Our Newsletter</h2>

        <p class="section-text">
          Subscribe our newsletter and get discount 50% off
        </p>
      </div>

      <form action="" class="card-form">
        <input type="email" name="email_address" placeholder="Your email address" required class="email-field">

        <button type="submit" class="newsletter-btn" aria-label="subscribe">
          <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
        </button>
      </form>

    </div>

  </div>
</section>
<app-footer></app-footer>